<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
{{ partial "favicons.html" }}
{{- partial "structured-data.html" . }}
    <title>{{.Title}}</title>
    {{- /* TODO range .AlternativeOutputFormats */ -}}
    {{- partial "style.html" }}
    {{- block "head" . -}}{{- end }}

    <script defer data-domain="bajtos.net" data-api="/s/event" src="/s/main.js"></script>
  </head>

  <body>
    {{ block "header" . -}}{{ end -}}
    {{ block "main" . -}}{{ end -}}
    {{ block "footer" . -}}{{ end }}
  </body>
</html>
