{{ define "head" }}
	<style>
	/* list.html style */	
	</style>
{{- end }}
{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner">
		<h1>Blog posts</h1>
		{{- range .Data.Pages.GroupByDate "2006" }}
		<div class="posts-group">
			<h2 class="post-year" id="{{ .Key }}">{{ .Key }}</h2>
			<ul class="posts-list">
				{{- range .Pages }}
				<li class="post-item">
					<a href="{{.Permalink}}">
						<span class="post-title">{{.Title}}</span>
						<span class="post-day">{{ .Date.Format .Site.Params.dateformShort }}</span>
					</a>
				</li>
				{{- end }}
			</ul>
		</div>
		{{- end }}
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}