  <footer id="site-footer" class="section-inner thin animated fadeIn faster">
    <span style="text-align: left">
        &copy; {{ now.Format "2006" }}
        <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>
        {{ .Site.Params.footerCopyright | safeHTML }}
    </span>
    <span style="text-align: right; width: 33%;">
      <!-- TODO: social icons -->
      <a href="{{ "posts/index.xml" | absLangURL }}" target="_blank" title="rss">
        {{- partial "svg.html" "feed" -}}
      </a>
    </span>
  </footer>