<style>
  body {
    /* font-family:Gill Sans,Ubuntu,sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
    font-size: 14px;
    margin: 0;
    border: 0.5rem solid navy;
    line-height: 1.5;
  }

  #site-header {
    padding: 3rem 3rem 1rem 3rem;
    font-size: 2em;
  }

  #site-header a {
    color: black;

  }
  
  .site-branding {
    display: inline-block;
    margin-right: .8em;
    font-style: italic;
  }

  .site-branding a {
    text-decoration: none;
  }

  .site-nav {
    float: right;
  }

  .site-nav a {
    margin-left: .8em;
    padding-bottom: 0.15em;
    text-decoration: none;
    border-bottom: 2px solid black;
  }

  main {
    padding: 1rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
  }

  h1 {
    font-weight: bold;
    font-size: 4em;
    margin-block-start: 0;
  }

  h2 {
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 1em;
  }
</style>
