<style>
  html {
    --white: white;
    --black: #111;
    --blue: #0000a0;
    --orange: #d14302;

    background: var(--white);
    color: var(--black);
    padding: 0;
    margin: 0;
  }

  body {
    font-family: -apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif;
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
    min-width: 320px;
  }

  a {
    color: var(--blue);
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }

  #site-header,
  #site-footer {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

  #site-header {
    padding: 1em 1ch 0.3em 1ch;
    border-bottom: 2px dashed var(--black);
  }

  .site-branding {
    display: inline-block;
    margin-right: .8em;
  }

  .site-branding a {
    color: var(--black);
  }

  .site-nav {
    float: right;
  }

  .site-nav a {
    color: var(--black);
    margin-left: .8em;
    padding-bottom: 0.15em;
  }

  #site-footer {
    margin-top: 1em;
    padding: 0.3em 1ch;
    border-top: 2px dashed var(--black);
    display: flex;
    justify-content: space-between;
  }

  #site-footer * {
    font-size: 1rem;
    color: var(--black);
  }

  #site-footer .social {
    text-align: right;
  }

  #site-footer .social a {
    margin-left: max(1ch, 8px);
  }

  svg {
    width: 1em;
    height: 1em;
  }

  main {
    padding: 1rem;
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    min-height: calc(
      100vh
      /* header font-size*(line-height + padding) */
      - 1.5*(1.5em + 1.3em)
      /* footer font-size*line-height + padding + margin*/
      - 1.5*(1.5em + 1.6em + 1em)
      );
  }

  h1 {
    font-weight: bold;
    font-size: 2.25em;
    line-height: 1.2;
  }

  h2 {
    font-weight: normal;
    font-size: 1.5em;
  }
</style>
